.login_form {
	position:absolute;
	right:5px;
	top:10px;
}
.login_form input[type=submit] {
	background-color:silver;
	color:black;
	border:1px solid black;
	padding-top:2.5px;
	padding-bottom:2px;
}
.login_form input[type=submit]:hover {
	cursor:pointer;
	background-color:#FADA5E;
}
.user_opt {
    background-image:url(../images/frontend/username.gif);
	color:purple;
	background-position: 2px 3px;
	background-repeat:no-repeat;
	padding-left:25px;
	padding-bottom:2px;
	height:20px;
	FONT-SIZE: 12px;
	border:1px solid black;
	border-radius:4px;
}
.user_opt_p {
	background-image:url(../images/frontend/password.gif);
	color:purple;
	background-position: 2px 3px;
	background-repeat:no-repeat;
	padding-left:25px;
	padding-bottom:2px;
	height:20px;
	FONT-SIZE: 12px;
	border:1px solid black;
	border-radius:4px;
}