.login_form {
	position:fixed;
	right:5px;
	top:10px;
}
.user_opt {
    background-image:url(../images/frontend/username.gif);
	color:blue;
	background-position: 2px 3px;
	background-repeat:no-repeat;
	padding-left:25px;
	padding-bottom:2px;
	height:20px;
	FONT-SIZE: 12px;
	border:1px solid black;
}
.user_opt_p {
	background-image:url(../images/frontend/password.gif);
	color:blue;
	background-position: 2px 3px;
	background-repeat:no-repeat;
	padding-left:25px;
	padding-bottom:2px;
	height:20px;
	FONT-SIZE: 12px;
	border:1px solid black;
}