.servicio {
	position:relative;
	border:1px solid;
	height:150px;
	width:700px;
	margin-top:30px;
}

.foto_servicio {

	border:1px solid;
	height:100%;
	display:inline-block;
	width:150px;
}

.cuerpo_servicio {
	float:right;
	width:77%;
}

.titulo_servicio {
	border:1px solid;
	
}
.descripcion_servicio {
	border:1px solid;
	height:128px;
}
.precio_servicio {
	border:1px solid;
	float:right;
	height:50px;
	width:120px;
	margin-top:70px;
}