.servicio {
	border:1px solid;
	height:150px;
	width:700px;
	margin-top:30px;
	margin-left:auto;
	margin-right:auto;
	position: relative;
}

.foto_servicio {
	border:1px solid;
	height:100%;
	display:inline-block;
	width:150px;
}
.foto_servicio img{
	height:100%;
	width:150px;
}
.cuerpo_servicio {
	float:right;
	width:77%;
}

.titulo_servicio {
	border:1px solid;
	
}
.descripcion_servicio {
	border:1px solid;
	height:128px;
}
.precio_servicio {
	border:1px solid;
	position:absolute;
	bottom:0px;
	right:0px;
	height:50px;
	width:120px;
}
