.servicio {
	height:150px;
	width:700px;
	margin-bottom:80px;
	margin-top:50px;
	margin-left: 50px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;
}
.servicio_vista {
	height:150px;
	width:100%;
	margin-bottom:140px;
	margin-top:50px;
	margin-left: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 16px;


}

.foto_servicio {
	float:left;
}
.foto_servicio>img{
	height:150px;
	width:150px;
	margin-top: 50px;
	margin-right: 20px;
	margin-bottom: 40px;
}
.foto_servicio_vista>img{
	height:150px;
	width:150px;
}
.cuerpo_servicio {
	width:140%;
	background-color: white;
	min-height: 150px;
}
.cuerpo_servicio_vista {
	width:90%;
	background-color: white;
	min-height: 150px;
}
.titulo_servicio {
	padding-left:5px;
	padding-top: 10px;
}
.descripcion_servicio {
	/*min-height:128px;*/
	margin-left: 150px;
}
.descripcion_servicio_vista {
	/*min-height:128px;*/
	margin-left: 150px;
	margin-top: 40px;
	margin-bottom: 10px;
}
.descripcion_servicio p{
	/*word-wrap: break-word;
	padding-right:10px;*/
	width: 20%;
	height: auto;
	margin-top: 5px;
}
.descripcion_servicio_vista p{
	/*word-wrap: break-word;
	padding-right:10px;*/
	width: 20%;
	height: auto;
	margin-left: 200px;
	margin-top: 25px;
}
.precio_servicio {
	float:right;
	width:110px;
	height:27px;
	clear:left;
	background-color: white;
}
.data_caducitat{
	float:right;
	padding-right:5px;
}
.nom_servei {
	font-weight:bolder;
	margin-left: 10px;
	margin-top: 10px;
	font-family: 'Open Sans', sans-serif;
	font-size: 18px;
}
.servei_actions {
	/*width:100%;
	padding-bottom:10px;
	padding-top:10px;
	margin-bottom:-2px;
	text-align:center;*/
}

.dispo_servicio {
	margin-top: -16px;
	min-width: 970px;
	padding-left: 10px;
	padding-bottom: 20px;
	background-color: white;
	clear:left;
	width:100%;
	box-shadow: 2px 2px 5px #999;
  border-radius: 15px;
}



/* ALTA SERVEI Y EDITAR SERVEI */

.disp_dias td {
	border:1px solid;
	border-color:#CCFF66;
	background-color:#99FF99;
	
 	border-radius: 15px;
}
.disp_dias {
	display:inline;
}
hr{
  box-shadow: 2px 2px 5px #999;
  border-radius: 15px;
}
.page_wrapper {
		overflow:auto;
		width:100%;
	}
	#slider-hores {
		width:350px;
	}