body{
  background-color: #dedede;
  height: auto;
}
h1{
  padding-top: 3%;
  font-family: 'Open Sans', sans-serif;
  font-size: 26px;
}
#cssmenu {
  margin: 0px;
  padding: 0px;
  font-size: 16px;
  font-weight: bold;
  width: auto;
  border-bottom: solid 2px #585c54 ;
  
  font-size: 15px;
  float:middle;
  height: 45px;
  z-index: 9999; position: fixed; left: 0; top: 0; width: 100%; /*Esto hace tu menu fijo*/
}
#cssmenu ul {
  background-color: #05b5f5 ;
  height: 44px;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-right: 20px;
}
#cssmenu li {
  float: left;
  padding: 0px;
}
#cssmenu li a {
  background:  url('images/seperator.gif') bottom right no-repeat;
  display: block;
  font-size: 14px;
  font-weight: normal;
  border-right: 1px solid white;
  line-height: 45px;
  font-family: 'Droid Sans', sans-serif;
  margin: 0px;
  padding: 0px 25px;
  text-align: center;
  text-decoration: none;
}
#cssmenu > ul > li > a {
  color: white;
}
#cssmenu ul ul a {
  color: white;
}
#cssmenu li > a:hover,
#cssmenu ul li:hover > a {
  background: white url('images/hover.png') bottom center no-repeat;
  color: #6c0000;
  text-decoration: none;
}
#cssmenu li ul {
  background: #85081D;
  display: none;
  height: auto;
  padding: 0px;
  margin: 0px;
  border: 0px;
  position: absolute;
  width: 225px;
  z-index: 200;
  /*top:1em;
  /*left:0;*/

}
#cssmenu li:hover ul {
  display: block;
}
#cssmenu li li {
  background: url('images/sub_sep.gif') bottom left no-repeat;
  display: block;
  float: none;
  margin: 0px;
  padding: 0px;
  width: 225px;
}
#cssmenu li:hover li a {
  background: none;
}
#cssmenu li ul a {
  display: block;
  height: 35px;
  font-size: 13px;
  font-style: normal;
  margin: 0px;
  padding: 0px 10px 0px 15px;
  text-align: left;
}
#cssmenu li ul a:hover,
#cssmenu li ul li:hover > a {
  background: #92ce39 url('images/hover_sub.png') center left no-repeat;
  border: 0px;
  color: white;
  text-decoration: none;
}
#cssmenu p {
  clear: left;
}

.zona_busqueda {
  background: url(../bundles/mambocarassets/img/redesign/landscape.jpg) no-repeat center center;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  height: 490px;
  text-align: center;
}

.zona_busqueda .caja_busqueda {
  position: absolute;
  background: url(../bundles/mambocarassets/img/redesign/fondo-pastilla-busqueda.png) repeat-x;
  top: 200px;
  left: 50%;
  width: 960px;
  height: 210px;
  margin-left: -480px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  border-radius: 6px;
  text-align: center;
  background-color: #1b8eb8;
}

.zona_busqueda .caja_busqueda h1 {
  margin-top: 30px;
  font-family: 'Open Sans', sans-serif;
  font-size: 24pt;
  font-weight: 400;
  letter-spacing: 1px;
  text-shadow: 0px 2px 0px rgba(150, 150, 150, 0.53);
  color: #fff;
}

.zona_busqueda .caja_busqueda h3 {
  margin-top: 5px;
  font-family: 'Open Sans', sans-serif;
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 1px;
  text-shadow: 0px 2px 0px rgba(150, 150, 150, 0.53);
  color: #fff;  
}

.zona_busqueda .caja_busqueda hr {
  margin-top: 16px;
  border-top-width: 0px;
  border-left-width: 0px;
  border-right-width: 0px;
  border-bottom-width: 1px;
  width: 550px;
  border-color: #fff;
  margin-bottom: 24px;
}

.zona_busqueda .caja_busqueda .contenido_formulario_busqueda {
  overflow: auto;
  margin-bottom: 15px;
  margin-right: 5px;
  height: auto;
  margin-top: -30px;
}

.zona_busqueda .caja_busqueda #landingForm input, select  {
  float: left;
  position: relative;
  font-size: 12px;
  border: 2px;
  border-color: #05b5f5;
  border-radius: 5px;
  width: auto;
  height: 50px;
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  color: #505050;
  box-shadow: 0px 3px 0px 0px rgba(150, 150, 150, 0.53);
  
  margin-right: 5px;
}
.centrar_form{
  text-align: center;
  margin-left: 245px;
}

.zona_busqueda .caja_busqueda #landingForm .input_ciudad {
  width: 260px;
  background: url('../bundles/mambocarassets/img/redesign/landing_input_ciudad.png') no-repeat scroll 7px 7px #FFFFFF;
  margin-left: 15px;
  padding-left: 35px;
  margin-right: 17px;
}

#datepicker1 {
	width:auto;
  padding-left: 3px;
  padding-right: 3px;
	text-align:center;
	margin-right:17px;
}
#datepicker2 {
	width:auto;
  padding-left: 3px;
  padding-right: 3px;
	text-align:center;
	margin-right:17px;
}

.zona_busqueda .caja_busqueda #landingForm .input_fecha {
  width: 174px;
  background: url('../bundles/mambocarassets/img/redesign/landing_input_calendar.png') no-repeat scroll 7px 7px #FFFFFF;
  padding-left: 45px;
  margin-right: 17px;
}

.zona_busqueda .caja_busqueda #landingForm .bt_ver_coches {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  text-indent:0;
  color:#ffffff;
  width:138px;
  line-height:38px;
  text-decoration:none;
  text-align:center;
  text-shadow:0px 2px 0px #498853;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  margin-left:17px;
  /*
  -moz-box-shadow:inset 0px 0px 0px 1px #cc7618;
  -webkit-box-shadow:inset 0px 0px 0px 1px #cc7618;
  */
  box-shadow: 0px 2px 0px 0px #498853;
  background-color: #5baa68;
}

.zona_busqueda .caja_busqueda #landingForm .bt_ver_coches:hover {
  background-color: #62b770;
}

.zona_busqueda .caja_busqueda .pie_texto_busqueda {
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 13px;
  letter-spacing: 0px;
  color:#ffffff;
}

.sombra_zona_busqueda {
  border-top: 1px solid #b6b6b6;
  position: relative;
  margin: 0 auto;
  min-width: 1020px;
  width: 100%;
  background-image: url(../bundles/mambocarassets/img/redesign/sombra-abajo.png);
  background-repeat:repeat-x;
  height: 5px;
}

.degradado_superior_seccion_fondo_gris {
  position: relative;
  margin: 0 auto;
  min-width: 1020px;
  width: 100%;
  background-image: url(../bundles/mambocarassets/img/redesign/degradado-superior.png);
  background-repeat:repeat-x;
  height: 5px;
}

.degradado_inferior_seccion_fondo_gris {
  position: relative;
  margin: 0 auto;
  min-width: 1020px;
  width: 100%;
  background-image: url(../bundles/mambocarassets/img/redesign/degradado-inferior.png);
  background-repeat:repeat-x;
  height: 5px;
}
#contenido_principal{
  width: 100%;
  position: relative;
}
#contenido_principal_izquierda{
  width: auto;
  height: 100%;
  display: block;
  color:black;
  margin-left: 20%;  
  float:left;
  padding-top: 20px;
  position: relative;
}
#contenido_principal_derecha{
  display: block;
  float: right;
  width: auto;
  margin-right: 20%;
  padding-top: 20px;
  position: relative;
}
.welcome_msg {
	color:white;
	right:5px;
  width: auto;
  height: auto;
  padding-right: 10px;
	position:absolute;
}
.logout_b {
	right:5px;
	position:absolute;
}
.user_settings {
	right:40px;
	position:absolute;
}
.user_settings img {
	margin-top:2px;
	width:20px;
}
#about_us{
  width: 60%;
  margin-top: 10%;
  box-shadow: 2px 2px 5px #999;
  border-radius: 15px;
  height: auto;
  padding-bottom:50px ;
  margin-left: 20%;
  margin-right: 20%;
  padding-left: 3%;
  padding-right: 3%;
  display: block;
  background-color: white;
  position: relative;

}
#about_us p{
   font-family: 'Open Sans', sans-serif;
   font-size: 16px;
}
#table {
  font-family: 'Open Sans', sans-serif;
  width: 100%;
  height: auto;
}
#table td{
  
  width: 25%;
  height: auto;
}

#footer{
  width: 100%;
  height: auto;
  background: #585c54;
  position: absolute;
  border-top: 2px solid white;
  clear: both;
  margin-top:400px;
}

.contenido_footer{
  width: 100%;
  height: auto;
  margin-top: 30px;
  text-align:center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 10px;
  font-family: 'Open Sans', sans-serif;
  font-size: 12px;
  color: white;
}
.form-container {
  margin-left: 33%;
  margin-top: 100px;
  margin-right: 30%;
   border: 0px solid #ffffff;
   background-color: white;
   -webkit-border-radius: 10px;
   -moz-border-radius: 10px;
   border-radius: 10px;
   -webkit-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   -moz-box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   box-shadow: rgba(000,000,000,0.9) 0 1px 2px, inset rgba(255,255,255,0.4) 0 0px 0;
   font-family: 'Open Sans',Helvetica,sans-serif;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   min-width:300px;
   padding:20px;
   width:30%;

   }
.form-field {
   border: 1px solid #c9b7a2;
   background: #ffffff;
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   color: #0a0807;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(000,000,000,0.7) 0 0px 0px;
   padding:8px;
   margin-bottom:20px;
   width:280px;
   }
.form-field:focus {
   background: #fff;
   color: black;
   }
.form-container h2 {
   text-shadow: #fdf2e4 0 1px 0;
   font-size:18px;
   margin: 0 0 10px 0;
   font-weight:bold;
   text-align:center;
    }
.form-title {
   margin-bottom:10px;
   color: #000000;
   text-shadow: #fdf2e4 0 1px 0;
   }
.submit-container {
   margin:8px 0;
   text-align:right;
   }
.submit-button {
   border: 1px solid #ffffff;
   background: #ffffff;
   background: -webkit-gradient(linear, left top, left bottom, from(#f5f5f5), to(#ffffff));
   background: -webkit-linear-gradient(top, #f5f5f5, #ffffff);
   background: -moz-linear-gradient(top, #f5f5f5, #ffffff);
   background: -ms-linear-gradient(top, #f5f5f5, #ffffff);
   background: -o-linear-gradient(top, #f5f5f5, #ffffff);
   background-image: -ms-linear-gradient(top, #f5f5f5 0%, #ffffff 100%);
   -webkit-border-radius: 4px;
   -moz-border-radius: 4px;
   border-radius: 4px;
   -webkit-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   -moz-box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   box-shadow: rgba(255,255,255,0.4) 0 1px 0, inset rgba(255,255,255,0.4) 0 1px 0;
   text-shadow: #addc7e 0 1px 0;
   color: #585c54;
   font-family: helvetica, serif;
   padding: 8.5px 18px;
   font-size: 14px;
   text-decoration: none;
   vertical-align: middle;
   }
.submit-button:hover {
   border: 1px solid #447314;
   text-shadow: #31540c 0 1px 0;
   background: #6aa436;
   background: -webkit-gradient(linear, left top, left bottom, from(#8dc059), to(#6aa436));
   background: -webkit-linear-gradient(top, #8dc059, #6aa436);
   background: -moz-linear-gradient(top, #8dc059, #6aa436);
   background: -ms-linear-gradient(top, #8dc059, #6aa436);
   background: -o-linear-gradient(top, #8dc059, #6aa436);
   background-image: -ms-linear-gradient(top, #8dc059 0%, #6aa436 100%);
   color: #fff;
   }
.submit-button:active {
   text-shadow: #31540c 0 1px 0;
   border: 1px solid #447314;
   background: #8dc059;
   background: -webkit-gradient(linear, left top, left bottom, from(#6aa436), to(#6aa436));
   background: -webkit-linear-gradient(top, #6aa436, #8dc059);
   background: -moz-linear-gradient(top, #6aa436, #8dc059);
   background: -ms-linear-gradient(top, #6aa436, #8dc059);
   background: -o-linear-gradient(top, #6aa436, #8dc059);
   background-image: -ms-linear-gradient(top, #6aa436 0%, #8dc059 100%);
   color: #fff;
   }
   
#redondo {
margin-right:200px;
padding: 0;
overflow: hidden;
margin-top:5px;
}

#redondo>img{
height:35px;    
border-radius:40%;
margin-right: 40px;
}
@font-face {
  font-family: 'Droid Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Droid Sans'), local('DroidSans'), url(../fonts/DroidSans.woff) format('woff');
}
.infousuari{
  background-color:#1b8eb8;
  border-radius:6px;
  height: auto;
  margin-top: 100px;
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 60px;
}
.un_info_usuari{
    background-color:white;
    border-radius:12px;
    margin-top: 15px;
    height: auto;
    width: 1000px;  
    margin-right: auto;
    margin-left: auto;
   -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
    word-wrap:break-word;
}
.un_info_usuari table {
  width: 100%;
  height: 100%;
  padding-top: 4px;
}
.un_info_usuari table img{
  border-bottom-left-radius: 12px;
  border-top-left-radius:12px;
  height: 50%; 
}
.label_title{
  text-align: center;
  color: white;
}
#page-wrapper {
	margin-left:225px;
}
/*CSS LOGUED*/

.welcome_msg {
  color:white;
  right:5px;
  position:absolute;
  margin-left: 50px;
}
.logout_b {
  right:5px;
  position:absolute;
}
.user_settings {
  right:40px;
  position:absolute;
}
.user_settings img {
  margin-top:2px;
  width:20px;
}
.error_formulario_registro {
  color:red;
  font-size:14px;
}
.buttonform{
  font-family: 'Open Sans', sans-serif;
  font-weight: 400;
  font-size: 12pt;
  text-indent: 0;
  color: #ffffff;
  width: 138px;
  line-height: 38px;
  text-decoration: none;
  text-align: center;
  text-shadow: 0px 2px 0px #498853;
  border: 0px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 17px;
  box-shadow: 0px 2px 0px 0px #498853;
  background-color: #5baa68;
  margin-bottom: 5%;
}
.text_info_user{
  margin-bottom: -20px;
}
.canviposicio input{
  margin-left: 512px;
}
#formularidetailuser img{
  height: 100px;
  border-radius: 12px;
  margin-top: 12px;
  margin-right: 12px;
  float: left;
  margin-left: 15px;
}