body {
	margin:0;
}
body, html {
  height: 100%;
}
a {
	text-decoration:none;
	color:black;
}
a:visited {
	text-decoration:none;
	color:black;
}
a::visited {
	text-decoration:none;
<<<<<<< HEAD
  color:black;
=======
	font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color:white;
}
a:link {
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color:white;
}
a:active {
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
 	font-size: 16px;
  	color:white;
>>>>>>> 899d8cb1c3c44e342f0e3e6af1f682fce6e395c7
}
#a_user {
	text-decoration:none;
	font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color:black;
}
#up-bar {
	width:100%;
	height:50px;
	background-color:#05B5F5;
}

#back {
	width:225px;
	height:50px;
	background-color:#525252;
	color:white;
	text-align:center;
	line-height:50px;
}
#back a {
	color:white;
}
#back a:hover {
	color:#05B5F5;
}
#back img {
	position:absolute;
	top:7px;
	left:35px;
}
#back:hover {
	color:#05B5F5;
	cursor:pointer;
}
.back:hover {
	color:#05B5F5;
}


#user {
	width:auto;
	height:50px;
	right:0px;
	top:0px;
	position:absolute;
	color:white;
	text-align:center;
	background-image:url(../images/frontend/down.png);
	background-repeat:no-repeat;
	background-position:95% 16px;
	border-left:1px solid white;
}
#user:hover {
	background-color:grey;
	cursor:pointer;
}
#user:focus {
	background-color:blue;
	cursor:pointer;
}
#user span {
	right:40px;
	position:relative;
	float: right;
	line-height:50px;
}
#user img {
	float:left;
    padding-top:10px;
	padding-left:10px;
	padding-right: 60px;
}

#user_nav {
	display:none;
	right:0px;
	top:50px;
	width:auto;
	height:0px;
	position:absolute;
	border-left:1px solid grey;
	border-bottom:1px solid grey;
	background-color:lightsilver;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
	padding-top:10px;
	background-color:white;
}
#user_nav .option {
	width:80%;
	padding-left:40px;
	padding-top:5px;
	padding-bottom:2px;
	background-position:7px 50%;
	line-height:25px;
	background-repeat:no-repeat;
	display:none;
	color:black;
}
#user_nav .option:hover {
	background-color:gold;
	cursor:pointer;
}
#user_nav .option:first-child {
	background-image:url(../images/frontend/user_icon_mini.png);
}
#user_nav .option:nth-child(2) {
	background-image:url(../images/frontend/options_icon_mini.png);
}
#user_nav .option:last-child {
	background-image:url(../images/frontend/logout_icon_mini.png);
}
.divisor_logout {
	background-color: #E5E5E5;
	height: 1px;
	margin: 9px 0;
	overflow: hidden;
	width:100%;
	display:none;
}

#sidebar {
	float:left;
	width:225px;
	height:100%;
	margin-top:-50px;
	background-color:grey;
	position:absolute;
}
.sidebar-option {
	height:50px;
	line-height:50px;
	padding-left:40px;
	background-image:url(../images/frontend/sidebar_icon_mini.png);
	background-repeat:no-repeat;
	background-position:10% 16px;
	font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  color: white;
}
.sidebar-option:hover {
	background-color:black;
	cursor:pointer;
	border-right:2px solid #05B5F5;
}
.sidebar-option-none {
	height:50px;
	line-height:50px;
	text-align:center;
	text-decoration:underline;
}

/*INICI PERFIL*/
input[type=radio]{
	display:none;
}
label > img:hover {
	cursor:pointer;
}
.formulario_registro_label {
	color:black;
	font-weight: bold;
}
.checkedd {
	border-bottom:2px solid #05B5F5;
}
#linkMap a{
	color: grey;
}
/*FI PERFIL*/