.DS_Store

application/cache/*
!application/cache/index.html
!application/cache/.htaccess

application/logs/*
!application/logs/index.html
!application/logs/.htaccess
media/users_profile/Joan_99528.jpg
media/users_profile/thumbs/Joan_99528.jpg
application/config/database.php